<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="first" class="java.lang.String">
        <constructor-arg value="first"/>
        </bean>

    <bean id="rabbitClientConnectionFactory" class="com.rabbitmq.client.ConnectionFactory">
        <property name="virtualHost" value="non_vhost"/>
        <property name="username" value="qmg_non"/>
        <property name="password" value="non"/>
        <property name="host" value="${mq.host}"/>
    </bean>

</beans>